 .header{
  display :flex;
  flex-direction: row;
  height:85px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  align-items: center;
}
body{
  margin:0;
  
}
.logo{
  height:60px;
  width:60px;
  margin:20px;
}
.title{
  margin-right:auto;
  font-family: 'Karla', sans-serif;
font-weight: 700;

color: #FFFFFF;
}
.courseproject{
  margin:30px;
  font-family: 'Inter', sans-serif;
font-weight: 500;
color: #FFFFFF;
}
.textbox{
  width:350px;
  height:40px;
  margin:10px;
  border-radius:5px;
  border: 1px solid #D5D4D8;
}
.form{
  
  margin-top: 15px;
  
  display:flex;
  flex-direction: row;
  justify-content: center;

}
.submit{
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
border-radius: 5px;
height:45px;
width:730px;
align-self: center;
border: 0px;
font-family: 'Karla', sans-serif;

font-weight: 700;
color:white;
font-size: 16px;
margin-top:10px;
}
.submit:hover{
  cursor:pointer;
  transform: scale(0.99);
}
.mainform{
  display: flex;
  flex-direction: column;
}


/* .form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px
}

.form--button {
  grid-column: 1 / -1;
} */

.picture{
  margin-top: 25px;
  width : 450px;
  height:450px;
  align-self: center;
} 
.absolute{
  position:relative;
  align-self: center;
  text-align: center;
}
.toptext{
  position :absolute;
  top : -15px;
  width: 80%;
  text-align: center;
    left: 50%;
    transform: translateX(-50%);
  font-family: impact, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px black;
    
}
.bottomtext{
  position:absolute;
  bottom:-25px;
  width: 100%;
  text-align: center;
    left: 50%;
    transform: translateX(-50%);
  font-family: impact, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px black;
}
